.menu {
    padding: 5rem 0;
}
.title {
    text-align: center;
    margin-bottom: 2rem;
}
.underline {
    width: 5rem;
    height: 0.25rem;
    background: red;
    margin-left: auto;
    margin-right: auto;
}
.btn-container {
    margin-bottom: 4rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
}
.filter-btn {
    background: transparent;
    border-color: transparent;
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
    letter-spacing: 1px;
    padding: 0.375rem 0.75rem;
    color: black;
    cursor: pointer;
    border-radius: 20px;
}
.filter-btn:hover {
    background: cornflowerblue;
    color: white;
}
.section-center {
    width: 100%;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    gap: 3rem 2rem;
    justify-items: center;
}
.menu-item {
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
}
.photo {
    object-fit: cover;
    height: 200px;
    width: 100%;
    border: 0.25rem solid black;
    border-radius: 10px;
    display: block;
}
.item-info header {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid black;
}
.item-info h4 {
    margin-bottom: 0.5rem;
    padding: 3px;
}
.price {
    color: black;
}
.item-text {
    margin-bottom: 0;
    padding-top: 1rem;
}